.adminDashboard {
  display: flex;
  flex-direction: column;
  height: 150vh;
  background-color: lightgrey;

  .contentBox {
    display: flex;
    flex-direction: column;
    margin-left: 200px;

    .content {
      display: grid;
      grid-template-columns: repeat(5, 1fr);
      gap: 20px;
      padding: 20px;
      justify-content: center;

      .box {
        background-color: white;
        padding: 20px;
        width: 200px;
        height: 90px;
        border-radius: 8px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
      }
      .boxText {
        display: flex;
        justify-content: center;
        gap: 10px;

        .logo {
          font-size: 28px;
        }

        .logo-title {
          font-size: 20px;

          h3 {
            font-size: 20px;
          }
        }
      }
      p {
        font-weight: 500;
        margin-left: 90px;
      }
    }
  }

  .chartContent {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    gap: 20px;
    padding: 20px;
    justify-content: center;

    .chart {
      background-color: white;
      padding: 20px;
      width: auto;
      height: 350px;
      border-radius: 8px;

      .chartBox1 {
        grid-column: 1;
      }
      .chartBox2 {
        grid-column: 1;
      }
      .chartBox3 {
        grid-column: 1;
        font-size: 24px;
      }
    }
  }
}
