@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");

.login-form-container {
  width: 80%;
  height: 500px;
  margin: 80px 120px;
  padding: 20px;
  border: 2px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.login-left {
  width: 32px;
  height: 32px;
}

.login-left img {
  width: 150px;
  height: 150px;
  margin: 120px 150px;
}

.footer {
  width: 300px;
  margin-left: 50px;
}

.footer span {
  font-weight: 700;
  color: purple;
  margin-right: 10px;
}

.footer img {
  margin: 0;
  width: 80px;
  height: 80px;
}

.form-container {
  margin-left: 600px;
  width: 350px;
  display: flex;
  flex-direction: column;
}

.form-container h1,
p {
  font-family: "Inter", sans-serif;
  color: purple;
}

form {
  margin-top: 30px;
}

input {
  width: 300px;
  padding: 10px;
  margin-top: 25px;
  border: 1px solid rgb(229, 146, 229);
  border-radius: 5px !important;
}

button {
  width: 300px;
  padding: 10px;
  background-color: purple;
  color: #fff;
  font-weight: 700;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

button:hover {
  background-color: rgb(45, 3, 45);
}

.forgot {
  color: purple;
  margin-top: 10px;
  margin-left: 180px;
  font-size: 14px;
}

.error-msg {
  color: red;
  margin-top: 10px;
  font-size: 14px;
  font-weight: 400;
}
